/* GLOBAL STYLES */

html {
  font-size: 16px;
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  display: block;
  position: relative;
  padding: 4.5rem 3rem;
  text-align: center;
  width: 100%;
}

.left {
  text-align: left;
}
.right{
  text-align: right;
}

.wrap {
  flex-wrap: wrap;
}

.reverse {
  flex-wrap: wrap-reverse;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}
h1 a {
  color: #b8cdab;
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.75rem;
}
h3 {
  font-size: 2rem;
  margin: 1rem 0 1.5rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 0.8rem;
}

p {
  line-height: 1.5em;
  margin-bottom: 2rem;
}

/* Colors */

.dark-blue {
  background-color: #004343;
}
.dark-blue-text {
  color: #004343;
}
.blue {
  background-color: #008585;
}
.blue-text {
  color: #008585;
}

.dark-green {
  background-color: #74a892;
}
.dark-green-text {
  color: #74a892;
}
.green {
  background-color: #b8cdab;
}
.green-text {
  color: #b8cdab;
}

.dark-yellow {
  background-color: #f0daa5;
}
.dark-yellow-text {
  color: #f0daa5;
}
.yellow {
  background-color: #fbf2c4;
}
.yellow-text {
  color: #fbf2c4;
}

.dark-orange {
  background-color: #c7522a;
}
.dark-orange-text {
  color: #c7522a;
}
.orange {
  background-color: #e5c185;
}
.orange-text {
  color: #e5c185;
}





/* HEADER */

header {
  align-items: center;
  border-bottom: 1px solid seashell;
  box-shadow: 0px 4px 12px #004343;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo-mobile {
  display: none;
}

.logo,
nav {
  display: inline;
}

.logo {
  margin-left: 0px;
}

.subhead {
  letter-spacing: .2rem;
}

nav {
  padding: 0;
}

nav ul li {
  display: inline;
  padding-left: 10px;
}

nav ul li a {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}





/* WELCOME SECTION */

.greeting {
  grid-area: greeting;
  padding-right: 2rem;
}

.headshot {
  border-radius: 20%;
  box-shadow: 4px 4px 12px #89381d;
  display: inline-block;
  grid-area: headshot;
  max-width: 300px;
}

.skills {
  grid-area: skills;
}

.skills-card {
  background-color: white;
  box-shadow: 2px 2px 8px #89381d inset;
  display: flex;
  gap: 8px;
  max-width: 900px;
  padding: 1rem;
  width: 100%;
}

.skills-icon {
  display: inline-block;
  margin: .25rem;
  height: 50px;
  width: 50px;
}

.welcome {
  display: grid;
  grid-template-areas: 
      'greeting greeting headshot'
      'skills skills skills';
  max-width: 900px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}





/* HISTORY SECTION */

.history {
  display: grid;
  max-width: 900px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}